name: CI
on : 
  pull_request:
    branches: [dev, master]
  push:
    branches: [dev, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Cache Node.js modules
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: npm ci
    - run: npx prettier --check "**/*.js"
    - run: npm test -- --coverage
      env:
        CI: true
    - name: Upload test coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage    
    - name: Build Project
      if: github.event_name == 'push'
      run: npm run build
    - name: Upload Build Folder
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: build
    - name: Create a Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/download-artifact@v4
    - name: Deploy to Staging
      if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
      run: npx surge --project ./build --domain alive-answer.surge.sh
      env:
        SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
        SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
    - name: Deploy to Production
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: npx surge --project ./build --domain ambiguous-shoes.surge.sh
      env:
        SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
        SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
    - name: Open Issue on CI failure
      if: github.event_name == 'pull_request' && failure()
      run: |
          gh issue create \
          --title "CI Failed for PR #${{ github.event.pull_request.number }}" \
          --body "The CI workflow failed for PR #${{ github.event.pull_request.number }}. Please check the Actions logs." \
          --repo "${{ github.repository }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # - name: open Issue
    #   if: failure() && github.event_name == 'pull_request'
    #   run: |
    #     curl --request POST \
    #     --url https://api.github.com/repos/${{ github.repository }}/issues \
    #     --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
    #     --header 'content-type: application/json' \
    #     --data '{"title":"CI Failed for PR #${{ github.event.pull_request.number }}","body":"The CI workflow has failed. Please check the logs and fix the issues."}'