name: CI
on : 
  pull_request:
    branches: [dev]
  push:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '17'
    - run: npm ci
    - run: npx prettier --check "**/*.js"
    - run: npm test -- --coverage
      env:
        CI: true
    - name: Build Project
      if: github.event_name == 'push'
      run: npm run build
    - name: Deploy to Staging
      if: github.event_name == 'push'
      run: npx surge --project ./build --domain alive-answer.surge.sh
      env:
        SURGE_LOGIN: ${{ secrets.SURGE_LOGIN }}
        SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}